.App {
  text-align: center;
  min-width: 375px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  position:relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.header-bg{
  position: relative;
  opacity: 0.3;
}
.launch{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80vw;
}

.logo{
  margin-bottom:2rem;
}

.yachts{
  border:1px solid green;

}
.booking img {
  width:3%;
  height:auto;
}
.carousel-item img {
  width: 100%;
  height:auto;
}
@media only screen and (min-width: 1024px) {
  
  .yachts{
    display:flex;
    flex-flow: row wrap;
    border: 1px solid red;
  }
  .card{
    width:20%;

  }

.card-text ul{
  height: 28rem;
 
}
}